.app {
  background-image: linear-gradient(  #0B2447, #A5D7E8);
  overflow-x: hidden;
}

* {
  font-family: 'IBM Plex Serif', serif; 
  font-weight: 400;
}

/* body {
  background-image: linear-gradient( #A5D7E8, #0B2447);
} */

.personal-photo {
  width: 400px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #0B2447;
  box-shadow: 4px 4px 7px black;
}

main {
  /* background-image: linear-gradient(#0B2447, #A5D7E8); */
  min-height: calc(100vh - 34px);
}

.footer-pin {
  position: relative;
  left: 0;
  bottom: 0;
}

/* .d-blue {
  background-color: #0B2447;
} */

.navbar h1 {
  font-family: 'Playfair Display', serif; 
}

.navbar a {
  font-family: 'Playfair Display', serif; 
  font-weight: 500;
}

.navbar a:hover {
  background-color: #A5D7E8;
}

.about {
  color: white;
  text-shadow: 4px 4px 7px black;
}

.about h1 {
  border-bottom: 1px solid #0B2447;
}

.icon {
  width: 40px;
}

.icon-2 {
  width: 50px;
}

.contact-form {
  color: #0B2447;
}

#response-message {
  color:#0B2447;
  font-style: italic;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
}

.contact-card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.container .card {
    max-width: 300px;
    height: 210px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}

.container .card:hover {
    height: 320px;
}

.container .card .imgContainer {
    position: relative;
    width:250px;
    height:105px;
    top:-50px;
    left:10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.container .card .imgContainer img {
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:#111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.about-p {
  font-size: 32px;
}


.nav-item {
  font-size: 32px;
  color: white;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -25px;
    transition-delay: 0.3s;
}

.project-text {
  color: #0B2447;
}

.project-icon {
  width: 30px;
}

.footer {
  color: #0B2447;
}

@media (max-width: 330px){
    .container .card .imgContainer{
        left: -2px;
    }
}

@media (max-width: 768px) {
  .about-me .display-4 {
    font-size: 40px;
  }

 .about-p {
  font-size: 20px;
 }

.navbar .display-2 {
  font-size: 35px;
}

 .nav-item {
  font-size: 20px;
 }
  .personal-photo {
    width: 150px;
  }

  #response-message {
    font-size: 18px;
  }

  .footer {
    font-size: 14px;
  }
}
